/*========================================================================
3. Template Elements
=========================================================================*/
/*
3.1 Buttons
*/
@import "elements/buttons.scss";
/*
3.2 Inner Banner
*/
@import "elements/inner-banner";
/*
3.3 Pagination
*/
@import "elements/pagination.scss";
/*
3.4 Preloader
*/
@import "elements/preloader.scss";
/*
3.5 Section Heading
*/
@import "elements/section-heading.scss";