.btn-text.style-one {
    color: $color_primary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    &:before {
        content: "";
        background-color: $color_secondary;
        height: 2px;
        width: 0;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        color: $color_secondary;
        &:before {
            width: 100%;
        }
    }
}

.btn-text.style-two {
    color: #041A57;
    font-size: 16px;
    font-weight: 600;
    font-family: $font_title;
    transition: all 0.3s ease-in-out;
    i {
        color: #041A57;
        margin-left: 8px;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        color: $color_secondary;
        i {
            color: $color_secondary;
            transform: translateX(6px);
        }
    }
}

.btn-fill {
    color: #ffffff;   
    background-color: #000000; 
    border-radius: 5px;
    padding: 15px 27px;
    display: inline-flex;
    border: 0;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: $font_title;
    font-size: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        overflow: hidden;  
        background-color: #ffffff;     
        top: 100%;
        left: 0;
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &:focus {
        box-shadow: none;
        border: 0;
        outline: none;
    }
    &:hover {
        color: #000000;        
        &:before {
            background-color: #ffffff;  
            top: 0;
        }
    }
    &.style-one {
        background-color: $color_primary;
        &:before {
            background-color: $color_secondary;
        }
        &:hover {
            color: #ffffff;
       }
    }
    &.style-two {
        background-color: $color_primary;
        &:before {            
            background-color: #ffffff;
       }
       &:hover {
            color: $color_primary;
       }
    }
    &.style-three {
        background-color: $color_secondary;
        &:before {
            background-color: $color_primary;
        }
        &:hover {
            color: #ffffff;
        }
    }
    &.style-four {
        background-color: $color_secondary;
        &:before {            
            background-color: #ffffff;
       }
       &:hover {
            color: $color_secondary;
       }
    }
    &.style-five {
        background-color: #ffffff;
        color: $color_primary;
        &:before {            
            background-color: $color_primary;
       }
       &:hover {
            color: #ffffff;
       }
    }
    &.style-six {
        background-color: #ffffff;
        color: $color_secondary;
        &:before {            
            background-color: $color_secondary;
       }
       &:hover {
            color: #ffffff;
       }
    }
    &.style-seven {
        background-color: #ffffff;
        color: $color_secondary;
        &:before {            
            background-color: $color_primary;
       }
       &:hover {
            color: #ffffff;
       }
    }
    &.style-eight {
        background-color: #ffffff;
        color: $color_primary;
        &:before {            
            background-color: $color_secondary;
       }
       &:hover {
            color: #ffffff;
       }
    }
}

.play-btn-primary {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_primary;    
    border-radius: 50%;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    @media (max-width: 767px) {
        height: 100px;
        width: 100px;
        font-size: 24px;
    }
    @media (max-width: 575px) {
        height: 80px;
        width: 80px;
    }
    i {
        color: #ffffff;
        transition: all 0.3s ease-in-out;
    }
    &:before {
        content: "";
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        color: $color_primary;
        background-color: #ffffff;
        i {
            color: $color_primary;
        }
        &:before {
            transform: scale(1);
        }
    }
}

.play-btn-secondary {
    height: 120px;
    width: 120px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_secondary;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $color_secondary;
        background-color: #ffffff;
    }
    &.size-small {
        height: 84px;
        width: 84px;
        font-size: 24px;
    }
}