ul.pagination-layout1 {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 25px;
    li {
        margin: 0 6px 5px;
        a {
            font-size: 20px;
            font-family: $font_title;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #041A57;
            background-color: transparent;
            border: 1px solid #e4e4e4;
            height: 50px;
            width: 50px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: $color_primary;
                color: #ffffff;
            }
        }
        &.active {
            a {
                background-color: $color_primary;
                color: #ffffff;
            }
        }
    }
}
  
  
