.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    z-index: 999;
    .preloader-inner-wrap {
        display: table;
        table-layout: fixed;
        height: 100%;
        position: relative;
        max-width: 100%;
        width: 100%;

        .preloader-inner {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
@keyframes loading_1 {
    0%,
    10%,
    100% {
        width: 84px;
        height: 84px;
    }

    65% {
        width: 150px;
        height: 150px;
    }
}
@keyframes loading_2 {
    0%,
    30% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    55% {
        background-color: transparent;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading_3 {
    0%,
    20% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    55% {
        background-color: transparent;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
.main-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84px;
    height: 84px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    -webkit-animation: loading_1 1.2s infinite ease-in-out;
    animation: loading_1 1.2s infinite ease-in-out;

    span {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-animation: loading_2 1.2s infinite ease-in-out both;
        animation: loading_2 1.2s infinite ease-in-out both;

        &:nth-child(1) {
            background-color: $color_primary;
            border: 1px $color_primary solid;
            top: 0;
            left: 0;

        }

        &:nth-child(2) {
            background-color: $color_secondary;
            border: 1px $color_secondary solid;
            top: 0;
            right: 0;
            -webkit-animation: loading_3 1.2s infinite ease-in-out both;
            animation: loading_3 1.2s infinite ease-in-out both;
        }

        &:nth-child(3) {
            background-color: $color_secondary;
            border: 1px $color_secondary solid;

            bottom: 0;
            left: 0;
            -webkit-animation: loading_3 1.2s infinite ease-in-out both;
            animation: loading_3 1.2s infinite ease-in-out both;
        }

        &:nth-child(4) {
            background-color: $color_primary;
            border: 1px $color_primary solid;
            bottom: 0;
            right: 0;
        }
    }
}