$font_body: 'Roboto',
sans-serif;
$font_title: 'IBM Plex Sans', sans-serif;
$color_primary: #2A07F9;
$color_secondary: #EE0034;
$color_body: #5A5A5A;
$color_body_light: #F2F2F2;
$color_title: #041A57;
$color_title_light: #E5E5E5;
$color_facebook: #3b5998;
$color_twitter: #00acee;
$color_google: #CC3333;
$color_instagram: #3f729b;
$color_linkedin: #0077B5;
$color_youtube: #c4302b;
$color_pinterest: #bd081c;