---
layout: home
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="loaded">
		<!-- Add your site or application content here -->
		{% include preloader.html %}
		<div id="main_content">
			<!--=====================================-->
			<!--=            Navbar Start           =-->
			<!--=====================================-->
			{% include header.html %}
			{% include menu.html %}
			{% include hero.html %}
			{% include about.html %}
			{% include countdown.html %}
			{% include process.html %}
			{% include schedule.html %}
			{% include sponsors.html %}
			{% include jobboard.html %}
			{% include speakers.html %}
			{% include prices.html %}
			{% comment %}
				{% include voices.html %}
			{% endcomment %}
			{% include callaction.html %}
			{% include blog.html %}
			{% include gallery.html %}
			{% include venue.html %}
			{% include organizers.html %}
			{% include footer.html %}
			<!--=====================================-->
			<!--=      Footer Section Area End      =-->
			<!--=====================================-->
		</div>
		<!-- Offcanvas Menu Start -->
		{% include rightmenu.html %}
		<!-- Offcanvas Menu End -->
		<!-- Search Start -->
		{% include search.html %}
		<!-- Search End -->
		{% include script.html %}
	</body>
</html>
