---
layout: home
title: プライバシーポリシー
permalink: /privacy/
---
<!DOCTYPE html>
<html lang="ja">
	{% include head.html %}
	<body>
		<!-- Add your site or application content here -->
		<div class="wrapper" id="wrapper">
			{% include preloader.html %}
			<div id="main_content">
				{% include header.html %}
				{% include menu.html %}
				<section class="hero-wrap-layout">
					<div class="row justify-content-md-center">
						<div class="col-md-8">
							<div class="section-title" style="padding-top: 2em">
								<h2>プライバシーポリシー</h2>
								<p>株式会社MOONGIFT（以下「当社」といいます。）は、当社がDevRel/Japan CONFERENCE 2023（以下「本サービス」といいます。）を提供するにあたり、ご利用される皆様（以下「利用者」といいます。）の個人に関する情報（以下「個人情報」といいます。）を取得します。</p>
								<h4>第1条（適用範囲）</h4>
								<p>本プライバシーポリシー（以下「本ポリシー」といいます。）は、当社が利用者から個人情報を取得、利用及び管理するときに適用されます。</p>
								<h4>第2条（取得する情報）</h4>
								<p>当社は、利用者から以下の情報を取得します。</p>
								<p>
									<ul>
										<li>氏名</li>
										<li>メールアドレス</li>
									</ul>
								</p>
								<h4>第3条（利用目的）</h4>
								<p>当社が個人情報を収集・利用する目的は、以下のとおりです。</p>
								<p>
									<ul>
										<li>本サービスの提供・運営のため</li>
										<li>本サービスの運営上必要な事項の通知のため</li>
										<li>本サービスに関する新機能、更新情報をお知らせするため</li>
										<li>本サービスの各種問合せ、アフターサービス対応のため</li>
										<li>上記の利用目的に付随する目的</li>
									</ul>
								</p>
								<h4>第4条（安全確保の措置）</h4>
								<p>当社は、収集した情報の漏えい、滅失又はき損の防止その他収集した情報の適切な管理のために必要な措置を講じます。当社が、安全管理のために講じた措置の概要は以下のとおりです。措置の具体的内容については、本ポリシーで定める窓口に対する利用者からの求めに応じて遅滞なく回答いたします。</p>
								<p>
									<ul>
										<li>個人情報の取扱責任者や報告連絡体制の整備</li>
									</ul>
								</p>
								<h4>第5条（個人情報の第三者への提供）</h4>
								<p>
									<ul>
										<li>
											当社は、次に掲げる場合を除いて、あらかじめ利用者の同意を得ないで、取得した個人情報を第三者に提供することはありません。
											<ul>
												<li>法令に基づく場合</li>
												<li>人の生命、身体又は財産の保護のために必要がある場合であって、利用者の同意を得ることが困難であるとき。</li>
												<li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難であるとき。</li>
												<li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。</li>
											</ul>
										</li>
										<li>
											前項の定めにかかわらず、次に掲げる場合には、当該個人情報の提供先は第三者に該当しないものとします。
											<ul>
												<li>当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託することに伴って当該個人情報が提供される場合</li>
												<li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
											</ul>
										</li>
									</ul>
								</p>
								<h4>第6条（個人情報の共同利用）</h4>
								<p>当社は、特定の者との間で共同利用することを目的として個人情報を当該特定の者に提供することがあります。この場合、当社は、あらかじめ、共同して利用する個人情報の項目、共同して利用する者の範囲、利用する者の利用目的及び当該個人情報の管理について責任を有する者の氏名又は名称を公表するものとします。</p>
								<h4>第7条（本プライバシーポリシーの変更）</h4>
								<p>当社は、法令改正への対応の必要性及び事業上の必要性に応じて、本ポリシーを変更する場合があります。本ポリシーの変更を行った場合には、本ウェブサイト上に掲載します。</p>
								<h4>第8条（開示、訂正等の手続）</h4>
								<p>
									<ul>
										<li>利用者は、本条に従って、当社に対し以下の求め又は請求を行うことができます。
											<ul>
												<li>利用者から個人情報の利用目的の通知の求め</li>
												<li>利用者の個人情報の開示の請求</li>
												<li>当社が保有する利用者の個人情報の内容が事実でない場合における、当該内容の訂正、追加又は削除の請求</li>
												<li>利用者の個人情報が利用者に対して通知若しくは公表した利用目的の達成に必要な範囲を超えて取り扱われた場合又は当該個人情報が偽りその他不正の手段によって取得された場合における、当該個人情報の利用の停止又は消去の請求</li>
												<li>利用者の個人情報が個人情報保護法第23条第1項又は第24条の規定に違反して第三者に提供されている場合における、当該個人情報の第三者への提供の停止の請求</li>
											</ul>
										</li>
										<li>
											前項の求め又は請求にあたっては、同項各号のうちいずれの請求か特定の上、本人確認のための書類（運転免許証、健康保険証、住民票の写し等）をご提出頂きます。
										</li>
									</ul>
								</p>
								<h4>第9条（お問い合わせ）</h4>
								<p>当社の個人情報の取扱いに関するご相談や苦情等のお問い合わせについては、下記の窓口にご連絡ください。</p>
								<ul>
									<li>個人情報取扱事業者：株式会社MOONGIFT</li>
									<li>代表者名：中津川篤司</li>
									<li>住所：神奈川県横浜市中区日本大通7 日本大通7ビル 4F YBP</li>
									<li>Eメールアドレス：<a href="mailto:info@devrel.tokyo">info@devrel.tokyo</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				{% include footer.html %}
			</div>
			<!-- Offcanvas Menu Start -->
			{% include rightmenu.html %}
			<!-- Offcanvas Menu End -->
			<!-- Search Start -->
			{% include search.html %}
			<!-- Search End -->
		</div>
		{% include script.html %}
		<script src="{{ site.baseurl }}/js/ncmb.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery-url.min.js"></script>
	</body>
</html>