---
layout: home
permalink: /sponsor/
title: スポンサーメニュー
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<!-- Add your site or application content here -->
		<div class="wrapper" id="wrapper">
			{% include preloader.html %}
			<div id="main_content">
				{% include header.html %}
				{% include menu.html %}
				<section class="hero-wrap-layout">
					<div class="row justify-content-md-center">
						<div class="col-md-12">
							<section class="pricing-wrap-layout2" style="padding-top: 2em">
								<div class="container">
									<div class="section-heading style-three">
										<h2 class="title">スポンサー</h2>
										<div class="sub-title">ニーズに応じて様々なスポンサープログラムを用意しています</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<div class="pricing-box-layout2">
												<div class="icon-box">
													<img src="{{ site.baseurl }}/image/sponsor/track.svg" alt="トラック" width="70" height="70">
												</div>
												<h3 class="pricing-title">トラック</h3>
												<h4 class="pricing-sub-title">カンファレンス全体に関わるプラン</h4>
												<div class="pricing-price">1,000,000<span>円</span></div>
												<div class="pricing-description" style="height: 580px;">
													<ul>
														<li>Webサイトロゴ：特大</li>
														<li>パンフレットロゴ：特大</li>
														<li>バッグロゴ：特大</li>
														<li>ロールアップバナー：特大</li>
														<li>幕間動画ロゴ：特大</li>
														<li>求人：最大5件</li>
														<li>ソーシャル投稿：5件</li>
														<li>LT（10分）</li>
														<li>ノベルティ：最大5種</li>
														<li>ブース</li>
														<li>参加者のリスト<sup>※1</sup></li>
														<li>ブログ記事での紹介</li>
														<li>アーカイブ動画への常時ロゴ表示</li>
														<li>ハッカソン</li>
														<li>チケット：5枚</li>
														<li>ワークショップ（+10万円）</li>
													</ul>
													<br />
													<p>※1：オプトインした参加者のみ</p>
												</div>
												<a href="#application" class="item-btn btn-fill">お申し込み・詳細問い合わせ</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<div class="pricing-box-layout2">
												<div class="icon-box">
													<img src="{{ site.baseurl }}/image/sponsor/booth.svg" alt="トラック" width="70" height="70">
												</div>
												<h3 class="pricing-title">ブース</h3>
												<h4 class="pricing-sub-title">ブース出展をメインにしたスポンサード</h4>
												<div class="pricing-price">500,000<span>円</span></div>
												<div class="pricing-description" style="height: 580px;">
													<ul>
														<li>Webサイトロゴ：大</li>
														<li>パンフレットロゴ：大</li>
														<li>バッグロゴ：大</li>
														<li>ロールアップバナー：大</li>
														<li>幕間動画ロゴ：大</li>
														<li>求人：最大3件</li>
														<li>ソーシャル投稿：2件</li>
														<li>LT（10分）</li>
														<li>ノベルティ：最大3種</li>
														<li>ブース</li>
														<li>ブログ記事での紹介</li>
														<li>ハッカソン</li>
														<li>チケット：3枚</li>
														<li>ワークショップ（+10万円）</li>
													</ul>
													<br />
												</div>
												<a href="#application" class="item-btn btn-fill">お申し込み・詳細問い合わせ</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<div class="pricing-box-layout2">
												<div class="icon-box">
													<img src="{{ site.baseurl }}/image/sponsor/workshop.svg" alt="ワークショップ" width="70" height="70">
												</div>
												<h3 class="pricing-title">ワークショップ</h3>
												<h4 class="pricing-sub-title">ワークショップを実施</h4>
												<div class="pricing-price">300,000<span>円</span></div>
												<div class="pricing-description" style="height: 580px;">
													<ul>
														<li>Webサイトロゴ：大</li>
														<li>パンフレットロゴ：大</li>
														<li>バッグロゴ：大</li>
														<li>ロールアップバナー：大</li>
														<li>幕間動画ロゴ：大</li>
														<li>求人：最大2件</li>
														<li>ソーシャル投稿：2件</li>
														<li>ノベルティ：最大1種</li>
														<li>ハッカソン（+5万円）</li>
														<li>チケット：2枚</li>
														<li>ワークショップ</li>
													</ul>
													<br />
												</div>
												<a href="#application" class="item-btn btn-fill">お申し込み・詳細問い合わせ</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<div class="pricing-box-layout2">
												<div class="icon-box">
													<img src="{{ site.baseurl }}/image/sponsor/party.svg" alt="ワークショップ" width="70" height="70">
												</div>
												<h3 class="pricing-title">ランチ・パーティー</h3>
												<h4 class="pricing-sub-title">ランチセッション・パーティーでの挨拶</h4>
												<div class="pricing-price">250,000<span>円</span></div>
												<div class="pricing-description" style="height: 580px;">
													<ul>
														<li>Webサイトロゴ：中</li>
														<li>パンフレットロゴ：中</li>
														<li>バッグロゴ：中</li>
														<li>ロールアップバナー：中</li>
														<li>幕間動画ロゴ：中</li>
														<li>求人：最大1件</li>
														<li>ソーシャル投稿：1件</li>
														<li>ノベルティ：最大1種</li>
														<li>ランチセッション（15分）<sup>※2</sup></li>
														<li>パーティーでの挨拶<sup>※2</sup></li>
														<li>ハッカソン（+5万円）</li>
														<li>チケット：2枚</li>
													</ul>
													<br />
													<p>
														※2 ランチセッション・パーティーでの挨拶はどちらかのみです
													</p>
												</div>
												<a href="#application" class="item-btn btn-fill">お申し込み・詳細問い合わせ</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<div class="pricing-box-layout2">
												<div class="icon-box">
													<img src="{{ site.baseurl }}/image/sponsor/hackathon.svg" alt="ハッカソン" width="70" height="70">
												</div>
												<h3 class="pricing-title">ハッカソン</h3>
												<h4 class="pricing-sub-title">ハッカソンでのテクノロジーアピール</h4>
												<div class="pricing-price">100,000<span>円</span></div>
												<div class="pricing-description" style="height: 580px;">
													<ul>
														<li>Webサイトロゴ：小</li>
														<li>パンフレットロゴ：小</li>
														<li>バッグロゴ：小</li>
														<li>ロールアップバナー：小</li>
														<li>幕間動画ロゴ：小</li>
														<li>ソーシャル投稿：1件</li>
														<li>ノベルティ：最大1種</li>
														<li>チケット：1枚</li>
														<li>ハッカソンでのテクノロジーアピール（事前録画）</li>
													</ul>
													<br />
												</div>
												<a href="#application" class="item-btn btn-fill">お申し込み・詳細問い合わせ</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<div class="pricing-box-layout2">
												<div class="icon-box">
													<img src="{{ site.baseurl }}/image/sponsor/hiring.svg" alt="ハイアリング" width="70" height="70">
												</div>
												<h3 class="pricing-title">ハイアリング</h3>
												<h4 class="pricing-sub-title">求人企業向き</h4>
												<div class="pricing-price">100,000<span>円</span></div>
												<div class="pricing-description" style="height: 580px;">
													<ul>
														<li>Webサイトロゴ：小</li>
														<li>パンフレットロゴ：小</li>
														<li>バッグロゴ：小</li>
														<li>ロールアップバナー：小</li>
														<li>幕間動画ロゴ：小</li>
														<li>求人：最大1件</li>
														<li>ソーシャル投稿：1件</li>
														<li>ノベルティ：最大1種</li>
														<li>チケット：1枚</li>
													</ul>
													<br />
												</div>
												<a href="#application" class="item-btn btn-fill">お申し込み・詳細問い合わせ</a>
											</div>
										</div>
									</div>
									<a name="application"></a>
									<div class="row justify-content-center">
										<h3>お申し込み・詳細問い合わせ</h3>
										<div class="col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
											<form id="sponsor">
												<div class="mb-3">
													<label for="company" class="form-label">企業名・団体名</label>
													<input type="text" name="company" class="form-control">
												</div>
												<div class="mb-3">
													<label for="name" class="form-label">お名前<sup style="color:red">*</sup></label>
													<input type="text" name="name" class="form-control" required>
												</div>
												<div class="mb-3">
													<label for="name" class="form-label">メールアドレス<sup style="color:red">*</sup></label>
													<input type="text" name="email" class="form-control" required>
												</div>
												<label for="profile" class="form-label">お問い合わせ種別<sup style="color:red">*</sup></label>
												<div class="mb-3">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="radio" name="download" value="attend" required>
														<label class="form-check-label" for="inlineRadio2">
															詳細資料のダウンロード
														</label>
													</div>
													<div class="form-check form-check-inline">
														<label class="form-check-label" for="inlineRadio1">
															<input class="form-check-input" type="radio" name="application" value="sponsor" required>
															スポンサードお申し込み
														</label>
													</div>
												</div>
												<div class="mb-3">
													<label for="session_reason" class="form-label">お問い合わせ内容<sup style="color:red">*</sup></label>
													<textarea name="body" class="form-control" rows="10" required></textarea>
												</div>
												<div style="padding-top: 1em;">
													<div class="alert" id="result" role="alert" style="display: none;">
													</div>
													<button type="submit" class="btn btn-primary">お問い合わせ</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
				{% include footer.html %}
			</div>
			<!-- Offcanvas Menu Start -->
			{% include rightmenu.html %}
			<!-- Offcanvas Menu End -->
			<!-- Search Start -->
			{% include search.html %}
			<!-- Search End -->
		</div>
		{% include script.html %}
		<script src="{{ site.baseurl }}/js/ncmb.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery-url.min.js"></script>
		<script src="{{ site.baseurl }}/js/sponsor.js"></script>
	</body>
</html>