<section class="about-wrap-layout2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-box-layout2">
					<div class="content-box">
						<h2 class="title">DevRel/Japan CONFERENCE 2023は日本唯一、日本語による<span>開発者向けマーケティングのカンファレンス</span>です</h2>
						<p class="sub-description">本カンファレンスはDevRel Meetup in Tokyoが主催、運営するカンファレンスです</p>
						<p class="description">DevRelは自社や自社サービスと、外部の開発者との良好な関係性を築くためのマーケティング手法になります。</p>
						<p class="description">2015年9月にDevRel Meetup in Tokyoが立ち上がって以来、イベントを通してDevRelに関する知見を交換しています。
							本カンファレンスは日本における唯一の、日本語によるDevRelカンファレンスとして、2019年より開催されています。
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-box-layout2">
					<div class="figure-box">
						<img src="image/banner/about1.jpg" alt="About" width="837" height="914">
						<a href="http://www.youtube.com/watch?v=magS9nxvUWU" class="play-btn play-btn-secondary size-small">
							<i class="fas fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="about-box-layout2">
			<div class="contact-box wow fadeInLeft animated" data-wow-delay="0.1s" data-wow-duration="1s">
				<ul>
					<li>
						<div class="icon-box">
							<i class="far fa-calendar-alt"></i>
						</div>
						<h3 class="contact-title">日時</h3>
						<div class="contact-description">2023年03月10日（金）〜<br />2023年03月11日（土）</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fas fa-map-marker-alt"></i>
						</div>
						<h3 class="contact-title">場所</h3>
						<div class="contact-description">ビジョンセンター横浜<br />（横浜駅徒歩5分）</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fas fa-microphone-alt"></i>
						</div>
						<h3 class="contact-title">主催</h3>
						<div class="contact-description">DevRel Meetup in Tokyo</div>
					</li>
					<li>
						<div class="d-flex align-items-center h-100">
							<a href="/contact/" class="btn-fill style-eight">問い合わせ</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
