<section class="about-wrap-layout2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-box-layout2">
					<div class="content-box">
						<h2 class="title">Welcome to the World Digital <span>Conference 2021</span></h2>
						<p class="sub-description">We can also work with you on bespoke content packages
							on a global scale.</p>
						<p class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit.
							Congue nisi the as faucibus cursus lectus condimentum molestie sit nec. Nibh
							the urna dui a as massa odio quis molestie amet dignissim. Nec vehicula
							tortor ac
							nibh is ultricies bibendum more text.</p>
						<p class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit.
							Congue nisi the as faucibus cursus lectus condimentum molestie sit nec.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-box-layout2">
					<div class="figure-box">
						<img src="image/banner/about1.jpg" alt="About" width="837" height="914">
						<a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn play-btn-secondary size-small">
							<i class="fas fa-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="about-box-layout2">
			<div class="contact-box wow fadeInLeft animated" data-wow-delay="0.1s" data-wow-duration="1s">
				<ul>
					<li>
						<div class="icon-box">
							<i class="far fa-calendar-alt"></i>
						</div>
						<h3 class="contact-title">When</h3>
						<div class="contact-description">Tuesday - Friday 15 - 20 August, 2019</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fas fa-map-marker-alt"></i>
						</div>
						<h3 class="contact-title">Where</h3>
						<div class="contact-description">Queenbay Mall 4217 Nickel Road, NYC</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fas fa-microphone-alt"></i>
						</div>
						<h3 class="contact-title">Who</h3>
						<div class="contact-description">John Cooper Founder / Author</div>
					</li>
					<li>
						<div class="d-flex align-items-center h-100">
							<a href="contact.html" class="btn-fill style-eight">CONTACT US</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
