<a name="blog"></a>
<section class="blog-wrap-layout2">
	<div class="container">
		<div class="section-heading style-two">
			<h2 class="title">ブログ</h2>
			<div class="sub-title">最新のお知らせをお届けします</div>
		</div>
		<div class="row">
			{% for article in site.data.blog.items %}
				<div class="col-lg-6 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
					<div class="blog-box-layout2 item-big">
						<div class="figure-box">
							<a href="{{ article.link }}" class="link-wrap" target="_blank">
								<img src="{{ article.enclosures[0].url }}" alt="blog" width="839" height="766">
							</a>
						</div>
						<div class="entry-date">
							{{ article.month }}月<span>{{ article.day }}日</span>
						</div>
						<div class="content-box">
							<div class="entry-meta mb-1">
								<ul>
									<li><a href="https://zenn.dev/{{ article.author }}" target="_blank"><i class="far fa-user"></i>{{ article.author }}</a></li>
								</ul>
							</div>
							<!--
							<h3 class="entry-title">
								<a href="{{ article.link }}">{{ article.title }}</a></h3>
							-->
							<p class="entry-description">
								{{ article.description | truncate: 100 }}
							</p>
							<a href="{{ article.link }}" target="_blank" class="btn-text style-one">もっと読む</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="text-center">
				<a href="https://zenn.dev/p/devrel" class="btn-fill style-four" target="_blank">ブログを見る</a>
			</div>
		</div>
	</div>
</section>
