<a name="blog"></a>
<section class="blog-wrap-layout2">
	<div class="container">
		<div class="section-heading style-two">
			<h2 class="title">ブログ</h2>
			<div class="sub-title">最新のお知らせをお届けします</div>
		</div>
		<div class="row">
			<!--
			<div class="col-lg-6 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
				<div class="blog-box-layout2 item-big">
					<div class="figure-box">
						<a href="blog-single.html" class="link-wrap"><img src="image/blog/blog-figure-4.jpg" alt="blog" width="839" height="766"></a>
					</div>
					<div class="entry-date">16<span>Jun</span></div>
					<div class="content-box">
						<div class="entry-meta mb-1">
							<ul>
								<li><a href="blog-single.html"><i class="far fa-user"></i>Jenny Wilson</a></li>
								<li><a href="blog-single.html"><i class="fas fa-tags"></i>Technology</a></li>
							</ul>
						</div>
						<h3 class="entry-title"><a href="blog-single.html">Chances are Good that there’s a Cloud this
								Software..</a></h3>
						<p class="entry-description">Lorem ipsum dolor sit amet consectetur is purus
							amet luctus venenatis.</p>
						<a href="blog-single.html" class="btn-text style-one">READ MORE</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-box-layout2 wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="0.4s">
					<div class="figure-box">
						<a href="blog-single.html" class="link-wrap"><img src="image/blog/blog-figure-5.jpg" alt="blog" width="837" height="361"></a>
					</div>
					<div class="entry-date">23<span>Jun</span></div>
					<div class="content-box">
						<div class="entry-meta mb-1">
							<ul>
								<li><a href="blog-single.html"><i class="far fa-user"></i>Jenny Wilson</a></li>
								<li><a href="blog-single.html"><i class="fas fa-tags"></i>Technology</a></li>
							</ul>
						</div>
						<h3 class="entry-title"><a href="blog-single.html">Many of those Products Offer the Off
								Potential not just to...</a></h3>
					</div>
				</div>
				<div class="blog-box-layout2 wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="0.4s">
					<div class="figure-box">
						<a href="blog-single.html" class="link-wrap"><img src="image/blog/blog-figure-6.jpg" alt="blog" width="837" height="361"></a>
					</div>
					<div class="entry-date">29<span>Jun</span></div>
					<div class="content-box">
						<div class="entry-meta mb-1">
							<ul>
								<li><a href="blog-single.html"><i class="far fa-user"></i>Jenny Wilson</a></li>
								<li><a href="blog-single.html"><i class="fas fa-tags"></i>Technology</a></li>
							</ul>
						</div>
						<h3 class="entry-title"><a href="blog-single.html">Our Evaluation Services Focus on the
								Providing Actionable</a></h3>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</section>
