<section class="call-to-action-wrap-layout1 bg-img" data-bg-image="image/banner/banner1.jpg">
	<div class="container">
		<div class="call-to-action-box-layout1">
			<div class="sub-title wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="1s">
				まだチケットをゲットしていませんか？
			</div>
			<h2 class="title wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="1s">
				さぁ、今すぐ参加しましょう！
			</h2>
			<a href="pricing.html" class="btn-fill style-four wow fadeInUp animated" data-wow-delay="0.7s" data-wow-duration="1s">
				チケットを購入する
			</a>
		</div>
	</div>
</section>
