<section class="call-to-action-wrap-layout1 bg-img" data-bg-image="image/banner/banner1.jpg">
	<div class="container">
		<div class="call-to-action-box-layout1">
			<div class="sub-title wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="1s">
				ITコミュニティを運営していますか？
			</div>
			<h2 class="title wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="1s">
				コミュニティプログラムへ<br />ぜひご参加ください！
			</h2>
			<a href="{{ site.baseurl }}/community/" class="btn-fill style-four wow fadeInUp animated" data-wow-delay="0.7s" data-wow-duration="1s">
				コミュニティプログラムを知る
			</a>
		</div>
	</div>
</section>
