<footer class="footer-wrap-layout2">
	<div class="footer2 footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 wow fadeInLeft animated" data-wow-delay="0.1s" data-wow-duration="1s">
					<div class="footer-widgets">
						<a href="index.html" class="footer-logo"><img src="{{ site.baseurl }}/image/logo.svg" alt="Footer Logo" width="200" height="37"></a>
						<nav class="template-secondary-menu">
							<ul class="menu">
								<li class="menu-item">
									<a href="index.html">ホーム</a>
								</li>
								<li class="menu-item">
									<a href="about.html"> 行動規範</a>
								</li>
								<li class="menu-item">
									<a href="speaker.html"> プライバシーポリシー</a>
								</li>
								<li class="menu-item">
									<a href="speaker.html"> お問い合わせ</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-5 wow fadeInLeft animated" data-wow-delay="0.3s" data-wow-duration="1s">
					<div class="footer-widgets">
						<h3 class="widget-title">お知らせを受け取る</h3>
						<div class="footer-newsletter">
							<form>
								<input type="email" class="form-control" placeholder="メールアドレス">
								<button type="submit" class="btn-fill style-one">購読する</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer2 footer-bottom">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-between">
				<div class="copyright-text">&copy;<span id="currentYear">

				</span><a href="https://devrel.tokyo/" class="link-text" rel="nofollow">DevRel Meetup in Tokyo</a>All
					Rights Reserved.</div>
				<ul class="footer-social">
					<li>
						<a target="_blank" href="https://www.facebook.com/devreltokyo" class="facebook"><i
													class="fab fa-facebook-f"></i></a>
					</li>
					<li>
						<a target="_blank" href="https://twitter.com/devreltokyo" class="twitter"><i
													class="fab fa-twitter"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
