<section class="gallery-wrap-layout2">
	<div class="container">
		<div class="section-heading style-two">
			<h2 class="title">フォトギャラリー</h2>
			<div class="sub-title">2019年の様子です</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="gallery-box-layout2 has-animation">
					<a href="image/gallery/7.jpg" class="rt-mfp-gallery-item"><img src="{{ site.baseurl }}/image/gallery/thumb/7.jpg" alt="Gallery" width="534" height="600"></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="gallery-box-layout2 has-animation">
					<a href="image/gallery/8.jpg" class="rt-mfp-gallery-item"><img src="{{ site.baseurl }}/image/gallery/thumb/8.jpg" alt="Gallery" width="834" height="450"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="gallery-box-layout2 has-animation">
					<a href="image/gallery/9.jpg" class="rt-mfp-gallery-item"><img src="{{ site.baseurl }}/image/gallery/thumb/9.jpg" alt="Gallery" width="534" height="600"></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="gallery-box-layout2 has-animation">
					<a href="image/gallery/10.jpg" class="rt-mfp-gallery-item"><img src="{{ site.baseurl }}/image/gallery/thumb/10.jpg" alt="Gallery" width="834" height="450"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="gallery-box-layout2 has-animation">
					<a href="image/gallery/11.jpg" class="rt-mfp-gallery-item"><img src="{{ site.baseurl }}/image/gallery/thumb/11.jpg" alt="Gallery" width="534" height="600"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="gallery-box-layout2 has-animation">
					<a href="image/gallery/12.jpg" class="rt-mfp-gallery-item"><img src="{{ site.baseurl }}/image/gallery/thumb/12.jpg" alt="Gallery" width="534" height="600"></a>
				</div>
			</div>
		</div>
	</div>
</section>
