<header class="header header2 sticky-on trheader">
	<div id="sticky-placeholder"></div>
	<div id="navbar-wrap" class="navbar-wrap">
		<div class="header-menu">
			<div class="container-fluid">
				<div class="inner-wrap">
					<div class="d-flex align-items-center justify-content-between">
						<div class="site-branding">
							<a href="{{ site.baseurl }}/" class="logo logo-light">
								<img src="{{ site.baseurl }}/image/logo-dark.svg" alt="Logo" width="200" height="37">
							</a>
							<a href="{{ site.baseurl }}/" class="logo logo-dark">
								<img src="{{ site.baseurl }}/image/logo-dark.svg" alt="Logo" width="200" height="37">
							</a>
						</div>
						<nav id="dropdown" class="template-main-menu menu-text-dark">
							<ul class="menu">
								<li class="menu-item menu-item-has-children">
									<a href="{{ site.baseurl }}/">ホーム</a>
								</li>
								<li class="menu-item menu-item-has-children mega-menu mega-menu-col-2">
									<a href="{{ site.baseurl }}/#about">アバウト</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="{{ site.baseurl }}/#schedule">スケジュール</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="{{ site.baseurl }}/#sponsor">スポンサー</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="{{ site.baseurl }}/#venue">会場</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="{{ site.baseurl }}/#organizer">運営</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="{{ site.baseurl }}/#blog">ブログ</a>
								</li>
							</ul>
						</nav>
						
						<ul class="header-action-items">
							<!--
							<li class="search-wrap">
								<a href="#template-search" title="Search">
									<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M20 20L15.514 15.506L20 20ZM18 9.5C18 11.7543 17.1045 13.9163 15.5104 15.5104C13.9163 17.1045 11.7543 18 9.5 18C7.24566 18 5.08365 17.1045 3.48959 15.5104C1.89553 13.9163 1 11.7543 1 9.5C1 7.24566 1.89553 5.08365 3.48959 3.48959C5.08365 1.89553 7.24566 1 9.5 1C11.7543 1 13.9163 1.89553 15.5104 3.48959C17.1045 5.08365 18 7.24566 18 9.5V9.5Z" stroke-width="2" stroke-linecap="round" />
									</svg>
								</a>
							</li>
							-->
							<li class="header-action-item d-none d-xl-block">
								<a href="{{ site.baseurl }}/#ticket" class="item-btn btn-fill style-one">チケット購入</a>
							</li>
							<li class="header-action-item">
								<button type="button" class="offcanvas-menu-btn style-one menu-status-open">
									<span class="menu-btn-icon">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
