<div class="rt-header-menu mean-container" id="meanmenu">
	<div class="mean-bar">
		<a href="{{ site.baseurl }}/index.html">
			<img src="{{ site.baseurl }}/image/logo-dark.svg" alt="Logo" width="80" height="29">
		</a>
		<span class="sidebarBtn">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</span>
	</div>
	<div class="rt-slide-nav">
		<div class="offscreen-navigation">
			<nav class="menu-main-primary-container">
				<ul class="menu">
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="{{ site.baseurl }}//">ホーム</a>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="{{ site.baseurl }}/home-main.html">PAGES</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="{{ site.baseurl }}/about.html">About</a></li>
							<li><a href="{{ site.baseurl }}/pricing.html">Pricing</a></li>
							<li><a href="{{ site.baseurl }}/gallery.html">Gallery</a></li>
							<li><a href="{{ site.baseurl }}/venue.html">Venu</a></li>
							<li><a href="{{ site.baseurl }}/brand.html">Brand</a></li>
							<li><a href="{{ site.baseurl }}/faq.html">Faq</a></li>
							<li><a href="{{ site.baseurl }}/404.html">404 Error</a></li>
							<li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="{{ site.baseurl }}/home-main.html">SPEAKERS</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="{{ site.baseurl }}/speaker.html">Speaker</a></li>
							<li><a href="{{ site.baseurl }}/speaker-single.html">Speaker Single</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="{{ site.baseurl }}/home-main.html">EVENTS</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="{{ site.baseurl }}/schedule1.html">Schedule 1</a></li>
							<li><a href="{{ site.baseurl }}/schedule2.html">Schedule 2</a></li>
							<li><a href="{{ site.baseurl }}/schedule3.html">Schedule 3</a></li>
							<li><a href="{{ site.baseurl }}/schedule4.html">Schedule 4</a></li>
							<li><a href="{{ site.baseurl }}/event-single.html">Event Single</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="{{ site.baseurl }}/home-main.html">PORTFOLIO</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="{{ site.baseurl }}/portfolio-two-col-grid.html">Standard Two Column</a></li>
							<li><a href="{{ site.baseurl }}/portfolio-three-col-grid1.html">Standard Three Column</a>
							</li>
							<li><a href="{{ site.baseurl }}/portfolio-three-col-grid2.html">Three Column Grid</a></li>
							<li><a href="{{ site.baseurl }}/portfolio-four-col-grid.html">Four Column Grid</a></li>
							<li><a href="{{ site.baseurl }}/portfolio-four-col-full-wide.html">Four Column Full Wide</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="{{ site.baseurl }}/home-main.html">BLOG</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="{{ site.baseurl }}/blog-grid.html">Blog Grid</a></li>
							<li><a href="{{ site.baseurl }}/blog-list.html">Blog List</a></li>
							<li><a href="{{ site.baseurl }}/blog-single.html">Blog Single</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
