<div class="rt-header-menu mean-container" id="meanmenu">
	<div class="mean-bar">
		<a href="{{ site.baseurl }}/">
			<img src="{{ site.baseurl }}/image/logo-dark.svg" alt="Logo" width="80" height="29">
		</a>
		<span class="sidebarBtn">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</span>
	</div>
	<div class="rt-slide-nav">
		<div class="offscreen-navigation">
			<nav class="menu-main-primary-container">
				<ul class="menu">
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/">ホーム</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#about">アバウト</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#schedule">スケジュール</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#speakers">スピーカー</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#sponsor">スポンサー</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#venue">会場</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#jobs">ジョブボード</a>
					</li>
					<li class="list menu-item-parent">
						<a class="animation" href="{{ site.baseurl }}/#blog">ブログ</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
