<div class="rt-header-menu mean-container" id="meanmenu">
	<div class="mean-bar">
		<a href="index.html">
			<img src="image/logo-dark.svg" alt="Logo" width="80" height="29">
		</a>
		<span class="sidebarBtn">
			<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
		</span>
	</div>
	<div class="rt-slide-nav">
		<div class="offscreen-navigation">
			<nav class="menu-main-primary-container">
				<ul class="menu">
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="home-main.html">HOME</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="index.html">Main Home</a>
							</li>
							<li><a href="index2.html">Design Conference</a>
							</li>
							<li><a href="index3.html">Web Seminar</a>
							</li>
							<li><a href="index4.html">Digital Event</a>
							</li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="home-main.html">PAGES</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="about.html">About</a></li>
							<li><a href="pricing.html">Pricing</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="venue.html">Venu</a></li>
							<li><a href="brand.html">Brand</a></li>
							<li><a href="faq.html">Faq</a></li>
							<li><a href="404.html">404 Error</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="home-main.html">SPEAKERS</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="speaker.html">Speaker</a></li>
							<li><a href="speaker-single.html">Speaker Single</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="home-main.html">EVENTS</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="schedule1.html">Schedule 1</a></li>
							<li><a href="schedule2.html">Schedule 2</a></li>
							<li><a href="schedule3.html">Schedule 3</a></li>
							<li><a href="schedule4.html">Schedule 4</a></li>
							<li><a href="event-single.html">Event Single</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="home-main.html">PORTFOLIO</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="portfolio-two-col-grid.html">Standard Two Column</a></li>
							<li><a href="portfolio-three-col-grid1.html">Standard Three Column</a>
							</li>
							<li><a href="portfolio-three-col-grid2.html">Three Column Grid</a></li>
							<li><a href="portfolio-four-col-grid.html">Four Column Grid</a></li>
							<li><a href="portfolio-four-col-full-wide.html">Four Column Full Wide</a></li>
						</ul>
					</li>
					<li class="list menu-item-parent menu-item-has-children">
						<a class="animation" href="home-main.html">BLOG</a>
						<ul class="main-menu__dropdown sub-menu">
							<li><a href="blog-grid.html">Blog Grid</a></li>
							<li><a href="blog-list.html">Blog List</a></li>
							<li><a href="blog-single.html">Blog Single</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
