<section class="pricing-wrap-layout2">
	<div class="container">
		<div class="section-heading style-three">
			<h2 class="title">チケット</h2>
			<div class="sub-title">価格は徐々に上がります。今すぐゲット！</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
				<div class="pricing-box-layout2">
					<div class="icon-box">
						<img src="image/icon/pricing1.svg" alt="Pricing" width="70" height="70">
					</div>
					<h3 class="pricing-title">通常チケット</h3>
					<h4 class="pricing-sub-title">2023年1月より</h4>
					<div class="pricing-price">15,000<span>円</span></div>
					<div class="pricing-description">
						<ul>
							<li>素晴らしいセッション&ワークショップ</li>
							<li>ランチ・飲み物・リフレッシュメント</li>
							<li>2日目のアフターパーティー</li>
						</ul>
						<br />
					</div>
					<a href="javascript:void(0)" style="background-color: grey; border-color: grey; pointer-events: none" class="item-btn btn-fill">チケット購入</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="0.4s">
				<div class="pricing-box-layout2">
					<div class="icon-box">
						<img src="image/icon/pricing2.svg" alt="Pricing" width="70" height="70">
					</div>
					<h3 class="pricing-title">アーリーバード</h3>
					<h4 class="pricing-sub-title">2022年12月末まで！</h4>
					<div class="pricing-price">9,000<span>円</span></div>
					<div class="pricing-description">
						<ul>
							<li>素晴らしいセッション&ワークショップ</li>
							<li>ランチ・飲み物・リフレッシュメント</li>
							<li>2日目のアフターパーティー</li>
							<li>限定ノベルティをゲットするチャンス</li>
						</ul>
					</div>
					<a href="pricing.html" class="item-btn btn-fill style-one">チケット購入</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="0.4s">
				<div class="pricing-box-layout2">
					<div class="icon-box">
						<img src="image/icon/pricing3.svg" alt="Pricing" width="70" height="70">
					</div>
					<h3 class="pricing-title">個人スポンサー</h3>
					<h4 class="pricing-sub-title">この価格は2022年12月末まで！</h4>
					<div class="pricing-price">19,000<span>円</span></div>
					<div class="pricing-description">
						<ul>
							<li>アーリーバードに加えて…</li>
							<li>1日目終了後のスピーカーディナーご招待</li>
							<li>素敵なスーベニア</li>
							<li>Webサイト・パンフレットに個人名記載</li>
						</ul>
					</div>
					<a href="pricing.html" class="item-btn btn-fill style-one">チケット購入</a>
				</div>
			</div>
		</div>
	</div>
</section>
