<section class="pricing-wrap-layout2">
	<div class="container">
		<div class="section-heading style-three">
			<div class="sub-title">Event Ticket Price</div>
			<h2 class="title">Pricing Tables</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.1s" data-wow-duration="0.4s">
				<div class="pricing-box-layout2">
					<div class="icon-box">
						<img src="image/icon/pricing1.svg" alt="Pricing" width="70" height="70">
					</div>
					<h3 class="pricing-title">Startup</h3>
					<h4 class="pricing-sub-title">Fabulously Planned</h4>
					<div class="pricing-price">&59<span>Per Day</span></div>
					<div class="pricing-description">
						<ul>
							<li>Event Solutions</li>
							<li>Fresh ideas</li>
							<li>Extraordinary results</li>
							<li>Flawless executions</li>
						</ul>
					</div>
					<a href="pricing.html" class="item-btn btn-fill style-one">BUY TICKETS</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="0.4s">
				<div class="pricing-box-layout2">
					<div class="icon-box">
						<img src="image/icon/pricing2.svg" alt="Pricing" width="70" height="70">
					</div>
					<h3 class="pricing-title">Professional</h3>
					<h4 class="pricing-sub-title">Fabulously Planned</h4>
					<div class="pricing-price">&99<span>Per Day</span></div>
					<div class="pricing-description">
						<ul>
							<li>Event Solutions</li>
							<li>Fresh ideas</li>
							<li>Extraordinary results</li>
							<li>Flawless executions</li>
						</ul>
					</div>
					<a href="pricing.html" class="item-btn btn-fill style-one">BUY TICKETS</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-12 wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="0.4s">
				<div class="pricing-box-layout2">
					<div class="icon-box">
						<img src="image/icon/pricing3.svg" alt="Pricing" width="70" height="70">
					</div>
					<h3 class="pricing-title">Enterprise</h3>
					<h4 class="pricing-sub-title">Fabulously Planned</h4>
					<div class="pricing-price">&120<span>Per Day</span></div>
					<div class="pricing-description">
						<ul>
							<li>Event Solutions</li>
							<li>Fresh ideas</li>
							<li>Extraordinary results</li>
							<li>Flawless executions</li>
						</ul>
					</div>
					<a href="pricing.html" class="item-btn btn-fill style-one">BUY TICKETS</a>
				</div>
			</div>
		</div>
	</div>
</section>
