<div class="offcanvas-menu-wrap" id="offcanvas-wrap" data-position="right">
	<div class="offcanvas-header">
		<span class="header-text">閉じる</span>
		<button type="button" class="offcanvas-menu-btn menu-status-close offcanvas-close">
			<span class="menu-btn-icon">
					<span></span>
			<span></span>
			<span></span>
			</span>
		</button>
	</div>
	<div class="offcanvas-content">
		<div class="top-content">
			<div class="offcanvas-logo">
				<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/image/logo.svg" alt="logo" width="200" height="37"></a>
			</div>
			<p>DevRel/Japan CONFERENCEは2023年3月10〜11日に横浜にて開催されます</p>
		</div>
		<h2>カンファレンスについて</h2>
		<div class="sub-title">開催概要</div>
		<ul class="info">
			<li>2023年3月10〜11日</li>
			<li>10日 13〜18時半 / 11日 11〜18時半</li>
			<li>ビジョンセンター横浜</li>
			<li>横浜市西区北幸2-5-15 プレミア横浜西口ビル4F</li>
		</ul>
		<a href="contact.html" class="text-btn">地図を見る</a>
	</div>
	<div class="offcanvas-footer">
		<ul>
			<li>
				<a target="_blank" href="https://www.facebook.com/devreltokyo">Facebook</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/devreltokyo">Twitter</a>
			</li>
		</ul>
	</div>
</div>
