<div class="offcanvas-menu-wrap" id="offcanvas-wrap" data-position="right">
	<div class="offcanvas-header">
		<span class="header-text">Close</span>
		<button type="button" class="offcanvas-menu-btn menu-status-close offcanvas-close">
			<span class="menu-btn-icon">
					<span></span>
			<span></span>
			<span></span>
			</span>
		</button>
	</div>
	<div class="offcanvas-content">
		<div class="top-content">
			<div class="offcanvas-logo">
				<a href="index.html"><img src="image/logo.svg" alt="logo" width="200" height="37"></a>
			</div>
			<p>Lorem ipsum dolor sit, consectetur iscing sed diam nonummy nibh euismo Lorem ipsum dolor sit,
				consectetur</p>
		</div>
		<h2>@my_event_day</h2>
		<div class="sub-title">Event Details</div>
		<ul class="info">
			<li>Sunday, 05 November 2017</li>
			<li>2:00 PM – 3:30 PM</li>
			<li>Mas Montagnette,</li>
			<li>198 West 21th Street, NY</li>
			<li>+1 485-048-1995</li>
		</ul>
		<a href="contact.html" class="text-btn">View map</a>
	</div>
	<div class="offcanvas-footer">
		<ul>
			<li>
				<a target="_blank" href="https://www.facebook.com/radiustheme">Facebook</a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/radiustheme">Twitter</a>
			</li>
			<li>
				<a target="_blank" href="https://www.pinterest.com/radius_theme/">Pinterest</a>
			</li>
			<li>
				<a target="_blank" href="https://www.pinterest.com/radius_theme/">Instagram</a>
			</li>
		</ul>
	</div>
</div>
