<a name="schedule"></a>
<section class="schedule-wrap-layout2">
	<div class="container">
		<div class="section-heading">
			<h2 class="title">スケジュール</h2>
			<div class="sub-title">カンファレンスのタイムテーブルです。日付を選んで表示を切り替えてください。</div>
		</div>
			<div class="schedule-inner-wrap-layout2">
			<ul class="tab-nav nav" role="tablist">
				<li class="menu-item" role="presentation">
					<a class="menu-link active" id="menu-1-tab" data-bs-toggle="tab" href="#menu-1" role="tab" aria-controls="menu-1" aria-selected="false">
						10日（金）
					</a>
				</li>
				<li class="menu-item" role="presentation">
					<a class="menu-link" id="menu-2-tab" data-bs-toggle="tab" href="#menu-2" role="tab" aria-controls="menu-2" aria-selected="false">
						11日（土）
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane tab-item animated fade show active" id="menu-1" role="tabpanel" aria-labelledby="menu-1-tab">
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;12:00 開場
						</h3>
					</div>
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;13:00 開幕の挨拶
						</h3>
					</div>
					<ul class="schedule-box-wrap-layout2">
						{% assign sessions = site.data.sessions | where: "day", "10" | where: "conference", "japan" %}
						{% include sessions.html sessions=sessions %}
					</ul>
				</div>
				<div class="tab-pane tab-item animated fade" id="menu-2" role="tabpanel" aria-labelledby="menu-2-tab">
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;10:00 開場
						</h3>
					</div>
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;11:00 開幕の挨拶
						</h3>
					</div>
					<ul class="schedule-box-wrap-layout2">
						{% assign sessions = site.data.sessions | where: "day", "11" | where: "conference", "japan" %}
						{% include sessions.html sessions=sessions %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
