<a name="schedule"></a>
<section class="schedule-wrap-layout2">
	<div class="container">
		<div class="section-heading">
			<h2 class="title">スケジュール</h2>
			<div class="sub-title">カンファレンスのタイムテーブルです。日付を選んで表示を切り替えてください。<br />
				<a href="#workshop">11日にはワークショップも開催！（クリックで詳細）</a>
			</div>
		</div>
		<div class="schedule-inner-wrap-layout2">
			<ul class="tab-nav nav" role="tablist">
				<li class="menu-item" role="presentation">
					<a class="menu-link active" id="menu-1-tab" data-bs-toggle="tab" href="#menu-1" role="tab" aria-controls="menu-1" aria-selected="false">
						10日（金）
					</a>
				</li>
				<li class="menu-item" role="presentation">
					<a class="menu-link" id="menu-2-tab" data-bs-toggle="tab" href="#menu-2" role="tab" aria-controls="menu-2" aria-selected="false">
						11日（土）
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane tab-item animated fade show active" id="menu-1" role="tabpanel" aria-labelledby="menu-1-tab">
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;12:00 開場
						</h3>
					</div>
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;13:00 開幕の挨拶
						</h3>
					</div>
					<ul class="schedule-box-wrap-layout2">
						{% assign sessions = site.data.sessions | where: "day", "10" | where: "conference", "japan" %}
						{% include sessions.html sessions=sessions %}
					</ul>
				</div>
				<div class="tab-pane tab-item animated fade" id="menu-2" role="tabpanel" aria-labelledby="menu-2-tab">
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;10:00 開場
						</h3>
					</div>
					<div class="section-heading">
						<h3 class="title">
							<i class="far fa-clock"></i>&nbsp;&nbsp;11:00 開幕の挨拶
						</h3>
					</div>
					<ul class="schedule-box-wrap-layout2">
						{% assign sessions = site.data.sessions | where: "day", "11" | where: "conference", "japan" %}
						{% include sessions.html sessions=sessions %}
					</ul>
				</div>
			</div>
		</div>
		<a name="workshop"></a>
		<div class="section-heading">
			<h2 class="title">ワークショップ</h2>
			<div class="sub-title">聞くだけだと疲れるかも？ぜひワークショップに参加しましょう！</div>
		</div>
		{% assign workshops = site.data.sessions | where: "category_en", "workshop" %}
		{% for workshop in workshops %}
			{% assign sponsor = site.data.sponsors | where: "id", workshop.first_speaker %}
			{% assign sponsor = sponsor[0] %}
			<div class="row">
				<div class="col-8 offset-md-2">
					<div class="row" style="padding-top: 0.5em; padding-bottom: 1em;border-bottom: solid grey 1px;">
						<div class="col-3">
							<img src="{{ sponsor.image }}" alt="{{ sponsor.name_ja }}" class="img-fluid">
						</div>
						<div class="col-9">
							<div class="section-heading" style="text-align: left">
								<h4>
									<i class="far fa-clock"></i>&nbsp;&nbsp;{{ workshop.day }}日 {{ workshop.start_time }}〜{{ workshop.end_time }}
								</h4>
								<h3 class="title">タイトル： {{ workshop.title_ja }} by {{ sponsor.name_ja }}</h3>
								<p>概要： {{ workshop.description_ja }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
