  <!-- Dependency Scripts -->
  <script src="{{ site.baseurl }}/assets/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/magnific-popup/js/magnific-popup.min.js"></script>
  <script src="{{ site.baseurl }}/assets/countdown/js/jquery.countdown.min.js"></script>
  <script src="{{ site.baseurl }}/assets/wow/wow.min.js"></script>
  <script src="{{ site.baseurl }}/assets/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/assets/swiper/js/swiper.min.js"></script>
  <script src="{{ site.baseurl }}/assets/validator/validator.min.js"></script>
  <!-- Custom Script -->
  <script src="{{ site.baseurl }}/js/app.js"></script>
