  <!-- Dependency Scripts -->
  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/magnific-popup/js/magnific-popup.min.js"></script>
  <script src="assets/countdown/js/jquery.countdown.min.js"></script>
  <script src="assets/wow/wow.min.js"></script>
  <script src="assets/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/swiper/js/swiper.min.js"></script>
  <script src="assets/validator/validator.min.js"></script>
  <!-- Custom Script -->
  <script src="js/app.js"></script>
