<section class="speaker-wrap-layout2">
	<div class="container">
		<div class="section-heading style-two">
			<div class="sub-title">Event Speakers</div>
			<h2 class="title">Meet Our Speakers</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="0.3s">
				<div class="speaker-box-layout2 color-one">
					<div class="figure-box">
						<img src="image/speaker/12.jpg" alt="Speaker" width="546" height="615">
					</div>
					<div class="content-box">
						<h3 class="title"><a href="speaker-single.html">Cameron Williamson</a></h3>
						<div class="sub-title">Brand Manager Apple</div>
						<div class="speaker-social">
							<ul>
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-facebook-f"></i></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="https://twitter.com/radiustheme"><i
																			class="fab fa-twitter"></i></a>
								</li>
								<li class="instagram">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-instagram"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="0.3s">
				<div class="speaker-box-layout2 color-two">
					<div class="figure-box">
						<img src="image/speaker/13.jpg" alt="Speaker" width="546" height="615">
					</div>
					<div class="content-box">
						<h3 class="title"><a href="speaker-single.html">Marvin McKinney</a></h3>
						<div class="sub-title">Co-founder Zipcar</div>
						<div class="speaker-social">
							<ul>
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-facebook-f"></i></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="https://twitter.com/radiustheme"><i
																			class="fab fa-twitter"></i></a>
								</li>
								<li class="instagram">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-instagram"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="0.7s" data-wow-duration="0.3s">
				<div class="speaker-box-layout2 color-three">
					<div class="figure-box">
						<img src="image/speaker/14.jpg" alt="Speaker" width="546" height="615">
					</div>
					<div class="content-box">
						<h3 class="title"><a href="speaker-single.html">Kathryn Murphy</a></h3>
						<div class="sub-title">VP Design Microsoft</div>
						<div class="speaker-social">
							<ul>
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-facebook-f"></i></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="https://twitter.com/radiustheme"><i
																			class="fab fa-twitter"></i></a>
								</li>
								<li class="instagram">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-instagram"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="0.9s" data-wow-duration="0.3s">
				<div class="speaker-box-layout2 color-four">
					<div class="figure-box">
						<img src="image/speaker/15.jpg" alt="Speaker" width="546" height="615">
					</div>
					<div class="content-box">
						<h3 class="title"><a href="speaker-single.html">Savannah Nguyen</a></h3>
						<div class="sub-title">Head Engineering Ajex</div>
						<div class="speaker-social">
							<ul>
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-facebook-f"></i></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="https://twitter.com/radiustheme"><i
																			class="fab fa-twitter"></i></a>
								</li>
								<li class="instagram">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-instagram"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="1.1s" data-wow-duration="0.3s">
				<div class="speaker-box-layout2 color-five">
					<div class="figure-box">
						<img src="image/speaker/16.jpg" alt="Speaker" width="546" height="615">
					</div>
					<div class="content-box">
						<h3 class="title"><a href="speaker-single.html">Courtney Henry</a></h3>
						<div class="sub-title">Content Writer</div>
						<div class="speaker-social">
							<ul>
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-facebook-f"></i></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="https://twitter.com/radiustheme"><i
																			class="fab fa-twitter"></i></a>
								</li>
								<li class="instagram">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-instagram"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="1.3s" data-wow-duration="0.3s">
				<div class="speaker-box-layout2 color-six">
					<div class="figure-box">
						<img src="image/speaker/17.jpg" alt="Speaker" width="546" height="615">
					</div>
					<div class="content-box">
						<h3 class="title"><a href="speaker-single.html">Ronald Richards</a></h3>
						<div class="sub-title">Brand Manager Olex</div>
						<div class="speaker-social">
							<ul>
								<li class="facebook">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-facebook-f"></i></a>
								</li>
								<li class="twitter">
									<a target="_blank" href="https://twitter.com/radiustheme"><i
																			class="fab fa-twitter"></i></a>
								</li>
								<li class="instagram">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-instagram"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="https://www.facebook.com/radiustheme"><i
																			class="fab fa-linkedin-in"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
