<div class="brand-wrap-layout1" data-bg-image="image/banner/brand1.jpg">
	<div class="container">
		<div class="row row-cols-xl-5 row-cols-md-3 row-cols-2">
			<div class="col wow fadeInLeft animated" data-wow-delay="0.3s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/1.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.5s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/2.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.7s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/3.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.9s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/4.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="1.1s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/5.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.3s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/6.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.5s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/7.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.7s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/8.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="0.9s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/9.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			<div class="col wow fadeInLeft animated" data-wow-delay="1.1s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/10.png" alt="Brand" width="130" height="112">
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="brand.html" class="btn-fill style-four">BECOME A SPONSOR</a>
		</div>
	</div>
</div>
