<a name="sponsor"></a>
<div class="brand-wrap-layout1" data-bg-image="image/banner/brand1.jpg">
	<div class="section-heading">
		<div class="sub-title">スポンサー</div>
		<h2 class="title" style="color: white;">私たちのカンファレンスをサポートしてください！</h2>
	</div>
	<div class="container">
		<div class="row row-cols-xl-5 row-cols-md-3 row-cols-2">
			<!--
			<div class="col wow fadeInLeft animated" data-wow-delay="0.3s" data-wow-duration="0.5s">
				<div class="brand-box-layout1">
					<img src="image/brand/1.png" alt="Brand" width="130" height="112">
				</div>
			</div>
			-->
		</div>
		<div class="text-center">
			<a href="{{ site.baseurl }}/contact/" class="btn-fill style-four">スポンサーお問い合わせ</a>
		</div>
	</div>
</div>
