<a name="sponsor"></a>
<div class="brand-wrap-layout1" data-bg-image="image/banner/brand1.jpg">
	<div class="section-heading">
		<h2 class="title" style="color: white;">スポンサー</h2>
	</div>
	<div class="container">
		{% assign sizes = "6,4,3,2" | split: "," %}
		{% for size in sizes %}
			<div class="row justify-content-center">
				{% assign sponsors = site.data.sponsors | where: "size", size %}
				{% for sponsor in sponsors %}
					<div class="col-{{ sponsor.size }} wow fadeInLeft animated" data-wow-delay="0.3s" data-wow-duration="0.5s">
						<div class="brand-box-layout1">
							<a href="{{ sponsor.url_ja }}" target="_blank" rel="noopener noreferrer">
								<img src="{{ sponsor.image }}" alt="Brand">
								<div class="text-center" style="background-color: white;">{{ sponsor.name_ja }}</div>
							</a>
							<div class="text-center" style="background-color: white;">{{ sponsor.label_ja }}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		<div class="row">
			<div class="section-heading">
				<h2 class="title" style="color: white;">個人スポンサー</h2>
			</div>
		</div>
		<div class="row" style="padding-bottom: 2em">
			{% assign sponsors = site.data.sponsors | where: "type", "personal" %}
			{% for sponsor in sponsors %}
				<div class="col-3" style="color: white;">
					{{ sponsor.name_ja }}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="section-heading">
		<h2 class="sub-title" style="color: white;">私たちのカンファレンスをサポートしてください！</h2>
		<div class="text-center">
			<a href="{{ site.baseurl }}/sponsor/" class="btn-fill style-four">スポンサーメニュー・詳細お問い合わせ</a>
		</div>
	</div>
</div>
