<section class="location-wrap-layout2" data-bg-image="image/banner/location1.jpg">
	<div class="container">
		<div class="section-heading style-two">
			<div class="sub-title">Event Place</div>
			<h2 class="title">Get Locations</h2>
		</div>
		<div class="inner-wrap">
			<div class="row">
				<div class="col-xl-8 col-lg-9">
					<div class="row">
						<div class="col-lg-6 d-lg-flex align-items-center">
							<div class="location-box-layout2 wow fadeInUp animated" data-wow-delay="0.3s" data-wow-duration="0.4s">
								<div class="figure-box">
									<img src="image/banner/location2.jpg" alt="Location" width="670" height="1042">
								</div>
								<div class="address-info">
									<div class="heading">Event Venue</div>
									<h3 class="title">Event Hall In San Francisco</h3>
									<p class="description">3rd St, San Francisco, CA 94103-3106</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 d-flex align-items-center">
							<div class="location-box-layout2">
								<h2 class="list-heading">Get to the Venue</h2>
								<ul class="list-info">
									<li class="wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="0.4s">
										<div class="icon-box">
											<img src="image/icon/location1.png" alt="Location" width="56" height="56">
										</div>
										<div class="content-box">
											<h3 class="list-title">Train Ticket</h3>
											<p class="list-description">Lorem ipsum dolor sit amete
												adipiscing is rhoncus.</p>
										</div>
									</li>
									<li class="wow fadeInUp animated" data-wow-delay="0.7s" data-wow-duration="0.4s">
										<div class="icon-box">
											<img src="image/icon/location2.png" alt="Location" width="56" height="56">
										</div>
										<div class="content-box">
											<h3 class="list-title">Bus Metro</h3>
											<p class="list-description">Lorem ipsum dolor sit amete
												adipiscing is rhoncus.</p>
										</div>
									</li>
									<li class="wow fadeInUp animated" data-wow-delay="0.9s" data-wow-duration="0.4s">
										<div class="icon-box">
											<img src="image/icon/location3.png" alt="Location" width="56" height="56">
										</div>
										<div class="content-box">
											<h3 class="list-title">Walk</h3>
											<p class="list-description">Lorem ipsum dolor sit amete
												adipiscing is rhoncus.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-3">
					<div class="location-box-layout2">
						<div class="main-figure-box">
							<img src="image/banner/location3.jpg" alt="Location" width="754" height="700">
						</div>
						<div class="main-content-box">
							<h3 class="main-title">The Deam Park</h3>
							<p class="main-description">Lorem ipsum dolor sit amet, consectetur purus
								luctus venenatis magna fringilla.</p>
							<a href="contact.html" class="item-btn">Get Hotel Booking </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
