<a name="venue"></a>
<section class="location-wrap-layout1">
	<div class="container">
		<div class="location-box-layout1 has-animation">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.4972021157228!2d139.6151384507441!3d35.46724024918877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185c0e577cc24d%3A0x15fcc93bb7b78c32!2z44OT44K444On44Oz44K744Oz44K_44O85qiq5rWc!5e0!3m2!1sja!2sjp!4v1666797920466!5m2!1sja!2sjp" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</iframe>
			<div class="map-content">
				<h2 class="title">アクセス</h2>
				<div class="sub-title">会場への行き方</div>
				<div class="list-info">
					<ul>
						<li>会場
							<p>ビジョンセンター横浜</p>
						</li>
						<li>住所
							<p>〒220-0004 神奈川県横浜市西区北幸2-5-15 プレミア横浜西口ビル4F</p>
						</li>
						<li>
							<a target="_blank" href="https://maps.google.com/maps?ll=35.467236,139.617333&z=17&t=m&hl=ja&gl=JP&mapclient=embed&cid=1584362427250084914">
								行き方を調べる（Google Map）<i class="fas fa-arrow-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="section-heading style-two">
				<h2 class="title">キッズルーム</h2>
			</div>
			<div class="md-10 text-center">
				DevRel/Japan CONFERENCE 2023では3月11日に限り、キッズルームを提供します。<br />
				子育て支援として、キッズルーム利用者はカンファレンスも無料で参加いただけます。<br />
				ご利用は無料ですが、事前申し込みが必要です。<a href="{{ site.baseurl }}/kidsroom/">詳細はこちらをご確認ください</a>。
			</div>
		</div>
	</div>
</section>
