.faq-wrap {
    padding-top: 122px;
    padding-bottom: 100px;
    @media (max-width: 1199px) {
        padding-top: 107px;
        padding-bottom: 85px;
    }
    @media (max-width: 991px) {
        padding-top: 92px;
        padding-bottom: 70px;
    }
    @media (max-width: 767px) {
        padding-top: 77px;
        padding-bottom: 55px;
    }
    @media (max-width: 575px) {
        padding-top: 62px;
        padding-bottom: 40px;
    }
}

.faq-box {
    .section-title {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
        @media (max-width: 1199px) {
            font-size: 36px;
        }
        @media (max-width: 991px) {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            font-size: 26px;
        }
        @media (max-width: 575px) {
            font-size: 24px;
        }
    }
    .panel {
        margin-bottom: 20px;
    }
    .panel-heading {
        .accordion-button {
            padding: 20px 65px 20px 30px;
            position: relative;
            font-family: $font_title;
            font-size: 22px;
            font-weight: 600;
            color: $color_title;
            border: 1px solid;
            border-color: #C7C5C5;
            box-shadow: none;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;    
            &:after {
                display: none;
            }
            &:before {
                content: url(../../image/elements/plus-icon-color.svg);
                position: absolute;
                right: 30px;
                top: 24px;
                line-height: 1;
                z-index: 1;
                transition: all 0.3s ease-in-out;
            }        
        }
        .accordion-button:not(.collapsed) {
            background-color: $color_primary;
            box-shadow: none;
            border-color: $color_primary;
            color: #ffffff;
            border-radius: 10px 10px 0 0;
            &:before {
                content: url(../../image/elements/minus-icon-light.svg);
            }
        }
    }
    .panel-body {
        padding: 20px 30px;
        border: 1px solid;
        border-top: 0;
        border-color: #C7C5C5;
        border-radius: 0 0 10px 10px;
        p {
            margin-bottom: 0;
        }
    }
}