.portfolio-wrap-layout1 {
    padding-top: 130px;
    padding-bottom: 106px;
    @media (max-width: 1199px) {
        padding-top: 115px;
        padding-bottom: 91px;
    }
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 76px;
    }
    @media (max-width: 767px) {
        padding-top: 85px;
        padding-bottom: 61px;
    }
    @media (max-width: 575px) {
        padding-top: 70px;
        padding-bottom: 46px;
    }
}

.portfolio-wrap-layout2 {
    padding-bottom: 0;
}

.portfolio-box-layout1 {
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
    .figure-box {
        img {
            border-radius: 20px;
        }
    }
    .content-box {
        background-color: #ffffff;
        padding: 20px 30px;
        border-radius: 10px;
        position: absolute;
        bottom: 40px;
        left: 0;
        margin: 0 40px;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            margin: 0 30px;
            padding: 17px 25px;
            bottom: 30px;
        }
        @media (max-width: 767px) {
            margin: 0 20px;
            padding: 16px 20px;
            bottom: 20px;
        }
        .title {
            margin-bottom: 0;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
        .sub-title {
            color: #979595;
            font-size: 15px;
            font-weight: 600;
            font-family: $font_title;
            transition: all 0.3s ease-in-out;
        }
    }
    &:hover {
        .content-box {
            background-color: $color_primary;
            .title {
                color: #ffffff;
            }
            .sub-title {
                color: #ffffff;
            }
        }
    }
}

.portfolio-box-layout2 {
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
    .figure-box {
        img {
            border-radius: 20px;
        }
    }
    .content-box {
        background-color: #ffffff;
        padding: 20px 25px;
        border-radius: 10px;
        position: absolute;
        bottom: 30px;
        left: 0;
        margin: 0 30px;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            margin: 0 25px;
            padding: 17px 20px;
            bottom: 25px;
        }
        @media (max-width: 767px) {
            margin: 0 20px;
            padding: 16px 15px;
            bottom: 20px;
        }
        .title {
            margin-bottom: 0;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
        .sub-title {
            color: #979595;
            font-family: $font_title;
            font-size: 15px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }
    }
    &:hover {
        .content-box {
            background-color: $color_primary;
            .title {
                color: #ffffff;
            }
            .sub-title {
                color: #ffffff;
            }
        }
    }
}

.portfolio-box-layout3 {
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:before {
        opacity: 0;
        visibility: hidden;
        transform: scale3d(0.5, 0.5, 0.5);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(#041A57, 0.7);
        top: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
    }
    .figure-box {
        img {
            border-radius: 20px;
        }
    }
    .content-box {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: 0 40px;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            margin: 0 30px;
        }
        @media (max-width: 767px) {
            margin: 0 20px;
        }
        .title {
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 0;
        }
        .sub-title {
            font-family: $font_title;
            color: #F2F2F2;
            font-size: 15px;
            font-weight: 600;
        }
    }
    &:hover {
        &:before {
            transform: scale3d(1, 1, 1);
            opacity: 1;
            visibility: visible;
        }
        .content-box {
            bottom: 40px;
            opacity: 1;
            visibility: visible;
            @media (max-width: 991px) {
                bottom: 30px;
            }
            @media (max-width: 767px) {
                bottom: 20px;
            }
        }
    }
}

.portfolio-box-layout4 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:before {
        opacity: 0;
        visibility: hidden;
        transform: scale3d(0.5, 0.5, 0.5);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(#041A57, 0.7);
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.3s ease-in-out;
    }
    .content-box {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: 0 40px;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            margin: 0 30px;
        }
        @media (max-width: 767px) {
            margin: 0 20px;
        }
        .title {
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 0;
        }
        .sub-title {
            font-family: $font_title;
            color: #F2F2F2;
            font-size: 15px;
            font-weight: 600;
        }
    }
    &:hover {
        &:before {
            transform: scale3d(1, 1, 1);
            opacity: 1;
            visibility: visible;
        }
        .content-box {
            bottom: 40px;
            opacity: 1;
            visibility: visible;
            @media (max-width: 991px) {
                bottom: 30px;
            }
            @media (max-width: 767px) {
                bottom: 20px;
            }
        }
    }
}

