.pricing-wrap-layout1 {
    background-color: #ffffff;
    padding: 122px 0 102px;
    @media (max-width: 1199px) {
        padding: 107px 0 87px;
    }
    @media (max-width: 991px) {
        padding: 92px 0 72px;
    }
    @media (max-width: 767px) {
        padding: 77px 0 55px;
    }
    @media (max-width: 575px) {
        padding: 62px 0 40px;
    }
}
.pricing-box-layout1 {
    margin-bottom: 24px;
    text-align: center;
    padding: 75px 30px;
    background: #f9f9f9;
    mask-image: url("../image/elements/pricing-default-bg.svg");
    mask-position: center center;
    mask-repeat: no-repeat;
    position: relative;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1399px) {
        padding: 56px 30px;
    }
    @media (max-width: 1199px) {
        padding: 75px 30px;
    }
    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $color_secondary;
        opacity: 0;
        clip-path: circle(0% at 100% 10px);
        transition: all linear 0.3s;
    }
    .pricing-price {
        font-size: 40px;
        font-weight: 700;
        color: $color_title;
        transition: all 0.3s ease-in-out;
    }
    .pricing-title {
        color: $color_primary;
        font-weight: 600;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
    }
    .devider-line {
        margin: 30px 0;
        height: 1px;
        width: 100%;
        background-color: $color_primary;
        transition: all 0.3s ease-in-out;
    }
    .pricing-description {
        margin-bottom: 30px;
        ul {
            list-style: none;
            display: inline-flex;
            flex-direction: column;
            text-align: left;
            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 8px;
                font-size: 18px;
                color: #5A5A5A;
                font-family: $font_title;
                transition: all 0.3s ease-in-out;
                &:before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    font-size: 12px;
                    color: #ACA9A9;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    &:hover {
        &:before {
            opacity: 1;
            clip-path: circle(150% at 100% 10px);
        }
        .pricing-price {
            color: #ffffff;
        }
        .pricing-title {
            color: #ffffff;
        }
        .devider-line {
            background-color: #ffffff;
        }
        .pricing-description {
            ul {
                li {
                    color: #ffffff;
                    &:before {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.pricing-wrap-layout2 {
    background-color: #ffffff;   
    position: relative;
    padding-top: 122px;
    padding-bottom: 100px;
    @media (max-width: 1199px) {
        padding-top: 107px;
        padding-bottom: 85px;
    }
    @media (max-width: 991px) {
        padding-top: 92px;
        padding-bottom: 70px;
    }
    @media (max-width: 767px) {
        padding-top: 77px;
        padding-bottom: 55px;
    }
    @media (max-width: 575px) {
        padding-top: 62px;
        padding-bottom: 40px;
    }
    &:before {
        content: "";
        width: 100%;
        height: 510px;
        background-image: url("../image/banner/pricing1.jpg");
         background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.pricing-box-layout2 {
    box-shadow: 0 0 63px 4px rgba(#000000, 0.1);
    text-align: center;
    background-color: #ffffff;
    padding: 50px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    .icon-box {
        margin-bottom: 15px;
        img {
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
    }
    .pricing-price {
        font-family: $font_title;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color_secondary;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            font-size: 36px;
        }
        @media (max-width: 767px) {
            font-size: 34px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
        }
    }
    .pricing-title {
        color: $color_title;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
        @media (max-width: 991px) {
            font-size: 28px;
        }
        @media (max-width: 767px) {
            font-size: 26px;
        }
    }
    .pricing-sub-title {
        font-size: 16px;
        font-style: italic;
        margin-bottom: 0;
    }
    .pricing-description {
        margin-bottom: 40px;
        padding-left: 20px;
        ul {
            list-style: none;
            text-align: left;
            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 5px;
                color: #041A57;
                font-family: $font_title;
                font-style: italic;
                transition: all 0.3s ease-in-out;
                &:before {
                    content: "\f00c";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    font-size: 12px;
                    color: #07EF80;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    .item-btn {
        border: 1px solid;
        border-color: $color_primary;
        &:before {
            display: none;
        }
    }
    &:hover {
        .icon-box {
            img {
                transform: scale(1.15);
            }
        }
        .pricing-price {
            color: $color_primary;
        }
        .item-btn {
            background-color: $color_secondary;
            border-color: $color_secondary;
            &:hover {
                background-color: transparent;   
                color: $color_secondary;             
            }
        }
    }
}