.service-wrap-layout1 {
    padding-top: 122px;
    padding-bottom: 195px; 
    position: relative;
    z-index: 1;
    @media (max-width: 1199px) {
        padding-top: 107px;
        padding-bottom: 165px;
    }
    @media (max-width: 991px) {
        padding-top: 92px;
        padding-bottom: 135px;
    }
    @media (max-width: 767px) {
        padding-top: 77px;
        padding-bottom: 105px;
    }
    @media (max-width: 575px) {
        padding-top: 62px;
        padding-bottom: 75px;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 0;
        border-bottom: 130px solid #ffffff;
        border-left: 100vw solid transparent;
        right: 0;
        @media (max-width: 991px) {
            border-bottom: 80px solid #ffffff;
        }
        @media (max-width: 767px) {
            border-bottom: 50px solid #ffffff;
        }
    }   
    .register-content {
        margin-bottom: 15px;
        margin-top: 15px;
        color: #ffffff;
        font-size: 18px;
        font-family: $font_title;
        font-weight: 600;
        margin-right: 20px;
        display: flex;
        align-items: center;
        i {
            margin-right: 10px;
            font-size: 6px;
        }
    }
}

.service-box-layout1 {
    margin: 0 10px;
    position: relative;
    margin-bottom: 30px;
    padding: 55px 30px 65px;
    text-align: center;
    z-index: 1;
    &:before {        
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #28212E;
        border-radius: 15px;
        transition: all 0.3s ease-in-out; 
    }
    &.bg-style-one {
        &:before {        
            transform: perspective(200px) rotateX(4deg) translateY(0);
        }
    }
    &.bg-style-two {
        &:before {        
            transform: perspective(200px) rotateX(-4deg) translateY(0);
        }
    }
    .icon-box {
        margin-bottom: 15px;
        svg {
            transition: all 0.3s ease-in-out;            
        }
    }
    &.color-one {
        .icon-box {
            svg {
                fill: #FFA800;
            }
        }
    }
    &.color-two {
        .icon-box {
            svg {
                fill: #0FB5DA;
            }
        }
    }
    &.color-three {
        .icon-box {
            svg {
                fill: #27D558;
            }
        }
    }
    &.color-four {
        .icon-box {
            svg {
                fill: #FF3C77;
            }
        }
    }
    &.color-five {
        .icon-box {
            svg {
                fill: #FD4848;
            }
        }
    }
    &.color-six {
        .icon-box {
            svg {
                fill: #1581FF;
            }
        }
    }
    .title {
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .description {
        color: #F2F2F2;
        margin-bottom: 0;
    }
    &:hover {
        &.bg-style-one {
            &:before {        
                transform: perspective(200px) rotateX(-4deg) translateY(17px);
            }
        }
        &.bg-style-two {
            &:before {        
                transform: perspective(200px) rotateX(4deg) translateY(-17px);
            }
        }
        .icon-box {
            svg {
                fill: #ffffff;                
            }
        }
        &.color-one {
            &:before {        
                background-color: #FFA800;
            }
        }
        &.color-two {
            &:before {        
                background-color: #0FB5DA;
            }
        }
        &.color-three {
            &:before {        
                background-color: #27D558;
            }
        }
        &.color-four {
            &:before {        
                background-color: #FF3C77;
            }
        }
        &.color-five {
            &:before {        
                background-color: #FD4848;
            }
        }
        &.color-six {
            &:before {        
                background-color: #1581FF;
            }
        }
    }
}
