.venue-wrap-layout1 {
    background-color: #F9F9F9;    
}

.venue-box-layout1 {
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
    .figure-box {
        overflow: hidden;
        border-radius: 20px;
        .link {
            display: block;
        }
        img {
            border-radius: 20px;
            transform: scale(1);
            transition: 0.5s cubic-bezier(0.45, 0.05, 0.15, 0.93) 0.15s;
        }
    }
    .content-box {
        padding: 25px 50px 30px;
        background-color: #ffffff;
        border-radius: 20px;
        position: absolute;
        bottom: -60px;
        left: 0;
        margin-left: 30px;
        margin-right: 30px;
        box-shadow: 0 30px 4px 0 rgba(#000000, 0.01);
        transition: all 0.3s ease-in-out;
        .venu-number {
            font-size: 18px;
            font-weight: 500;
            font-family: $font_title;
            color: $color_primary;
            transition: all 0.3s ease-in-out;
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }
        .title {
            font-weight: 600;
            margin-bottom: 8px;
            @media (max-width: 767px) {
                font-size: 22px;
            }
            a {
                color: $color_title;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $color_secondary;
                }
            }
        }
        .location {
            color: #5A5A5A;
            margin-bottom: 8px;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            @media (max-width: 767px) {
                font-size: 16px;
            }
            i {
                margin-right: 10px;
            }
        }
        .video {
            display: flex;
            align-items: center;
            .video-link {
                margin-right: 10px;
                color: #ffffff;
                height: 40px;
                width: 40px;
                background-color: $color_secondary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                i {
                    font-size: 12px;
                }
                &:hover {
                    background-color: $color_primary;
                }
            }
            .text {
                color: $color_secondary;
                font-size: 20px;
                font-weight: 600;
                font-family: $font_title;
                transition: all 0.3s ease-in-out;
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }
    &:hover {
        .figure-box {
            img {
                transform: scale(1.2);
            }
        }
        .content-box {
            background-color: $color_secondary;
            .venu-number {
                color: #ffffff;
            }
            .title {
                a {
                    color: #ffffff;
                    &:hover {
                        color: $color_primary;
                    }
                }
            }
            .location {
                color: #ffffff;
            }
            .video {
                .video-link {
                    color: $color_secondary;
                    background-color: #ffffff;
                    i {
                        font-size: 12px;
                    }
                    &:hover {
                        color: #ffffff;
                        background-color: $color_primary;
                    }
                }
                .text {
                    color: #ffffff;
                }
            }
        }
    }
}

.venu-info-wrap-layout1 {
    padding-top: 130px;
    padding-bottom: 230px;
    @media (max-width: 1199px) {
        padding-top: 115px;
        padding-bottom: 215px;
    }
    @media (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media (max-width: 767px) {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    @media (max-width: 575px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
.venu-info-box-layout1 {
    .figure-box {
        margin-right: -200px;
        @media (max-width: 991px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
        img {
            border-radius: 20px;
        }
    }
    .content-box {
        background-color: #ffffff;
        padding: 80px 65px;
        border-radius: 20px;
        transform: translateY(100px);
        box-shadow: 0 4px 50px 0 rgba(#000000, 0.1);
        @media (max-width: 1199px) {
            padding: 70px 55px;
        }
        @media (max-width: 991px) {
            padding: 60px 45px;
            transform: translateY(0);
        }
        @media (max-width: 767px) {
            padding: 50px 35px;
        }
        @media (max-width: 575px) {
            padding: 40px 30px;
        }
        .sub-title {
            font-weight: 500;
            font-size: 25px;
            font-family: $font_title;
            color: $color_primary;
            @media (max-width: 1199px) {
                font-size: 24px;
            }
            @media (max-width: 991px) {
                font-size: 22px;
            }
            @media (max-width: 767px) {
                font-size: 20px;
            }
            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
        .title {
            font-weight: 700;
            font-size: 40px;
            @media (max-width: 1199px) {
                font-size: 36px;
            }
            @media (max-width: 991px) {
                font-size: 32px;
            }
            @media (max-width: 767px) {
                font-size: 28px;
            }
            @media (max-width: 575px) {
                font-size: 26px;
            }
        }
    }
    .list-info {
        ul {
            list-style: none;
            li {
                color: $color_secondary;
                font-size: 20px;
                font-weight: 600;
                position: relative;
                padding-left: 20px;
                margin-bottom: 20px;
                &:before {
                    position: absolute;
                    content: "\f111";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    color: $color_secondary;
                    font-size: 8px;
                    top: 10px;
                    left: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 0;
                    max-width: 250px;
                    width: 100%;
                }                
                &.item-btn {
                    &:before {
                        color: $color_primary;
                    }
                    a {
                        color: $color_primary;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: $color_secondary;
                        }
                    }
                    i {
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}