.video-wrap-layout1 {
    background-color: transparent;
    padding-top: 72px;
    padding-bottom: 50px;
}

.video-box-layout1 {
    text-align: center;
    .figure-box {
        display: inline-block;
        position: relative;
        z-index: 1;
        img {
            border-radius: 20px;
        }
        .play-btn {
            position: absolute;
            left: 50px;
            bottom: 50px;
        }
        &:after {
            content: url("../image/elements/dot-shape1.png");
            position: absolute;
            bottom: -60px;
            left: -65px;
            z-index: -1;
            transition: all 1s ease-in-out;
            transition-delay: 0.7s;
        }
        &:before {
            content: url("../image/elements/dot-shape2.png");
            position: absolute;
            left: 75%;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            transition: all 1s ease-in-out;
            transition-delay: 0.3s;
        }
    }
    &.has-animation {
        .figure-box {
            &:after {
                opacity: 0;
                visibility: hidden;
                transform: translateX(-300px);
            }
            &:before {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-50%) translateX(300px);
            }
        }
    }
    &.has-animation.active-animation {
        .figure-box {
            &:after {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
            &:before {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%) translateX(0);
            }
        }
    }
}